Repository sachaelkaim/SOEN343, pull requests merged in 2020-11, with the labels that each got.

#44 Fixed modal + bugs
  back-end/pom.xml
  back-end/src/main/java/soen343/backend/room/RoomController.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/java/soen343/backend/user/UserController.java
  front-end/src/components/Simulation.js
  front-end/src/components/modules/SHS.js
Labels: back-end, bug, front-end

#45 fixed select bug
  front-end/src/components/Simulation.js
Labels: bug, front-end

#46 Backend fixes and SHC update
  back-end/src/main/java/soen343/backend/room/RoomController.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/java/soen343/backend/user/UserController.java
  back-end/src/main/java/soen343/backend/user/UserService.java
  back-end/src/test/java/soen343/backend/UserServiceTest.java
  front-end/src/components/Dashboard.js
  front-end/src/components/HouseLayout.js
  front-end/src/components/Simulation.js
  front-end/src/components/modules/SHC.js
  front-end/src/components/modules/SHS.js
Labels: back-end, front-end

#47 simulation on/off fix
  back-end/src/main/java/soen343/backend/room/RoomController.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/java/soen343/backend/user/UserController.java
  back-end/src/main/java/soen343/backend/user/UserService.java
  front-end/src/components/Simulation.js
  front-end/src/components/modules/SHS.js
Labels: back-end, bug, front-end

#61 Shc sacha b
  back-end/src/main/java/soen343/backend/CoreModuleController.java
  back-end/src/main/java/soen343/backend/CoreModuleModel.java
  back-end/src/main/java/soen343/backend/SecurityController.java
  back-end/src/main/java/soen343/backend/SimulationService.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/java/soen343/backend/user/UserService.java
  back-end/src/main/resources/json/houseLayout.json
  front-end/src/components/HouseLayout.js
  front-end/src/components/Simulation.js
  front-end/src/components/modules/Console.js
  front-end/src/components/modules/SHC.js
  front-end/src/components/modules/SHS.js
Labels: back-end, front-end

#63 fixed bugs
  back-end/src/main/resources/json/users.json
  front-end/src/components/modules/SHC.js
  front-end/src/components/modules/SHS.js
Labels: bug, front-end

#67 shc shp fixes
  back-end/src/main/java/soen343/backend/SecurityController.java
  back-end/src/main/java/soen343/backend/SimulationService.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/resources/json/houseLayout.json
  back-end/src/main/resources/json/users.json
  front-end/src/components/HouseLayout.js
  front-end/src/components/Simulation.js
  front-end/src/components/modules/SHC.js
  front-end/src/components/modules/SHP.js
Labels: back-end, front-end

#68 automode and bug fixes
  back-end/src/main/java/soen343/backend/CoreModuleController.java
  back-end/src/main/java/soen343/backend/CoreModuleModel.java
  back-end/src/main/java/soen343/backend/SimulationService.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/java/soen343/backend/user/UserService.java
  back-end/src/main/resources/json/users.json
  front-end/src/components/Simulation.js
  front-end/src/components/modules/SHC.js
  front-end/src/components/modules/SHS.js
Labels: back-end, front-end

#70 Time speed
  back-end/src/main/java/soen343/backend/BackEndApplication.java
  back-end/src/main/java/soen343/backend/CoreModuleController.java
  back-end/src/main/java/soen343/backend/CoreModuleModel.java
  back-end/src/main/java/soen343/backend/LayoutModuleModel.java
  back-end/src/main/java/soen343/backend/SimulationMasterController.java
  back-end/src/main/java/soen343/backend/SimulationService.java
  back-end/src/main/java/soen343/backend/room/RoomService.java
  back-end/src/main/java/soen343/backend/user/UserService.java
  back-end/src/test/java/soen343/backend/SimulationContextTest.java
  front-end/src/components/modules/SHC.js
  front-end/src/components/modules/SHS.js
Labels: back-end, bug, front-end

#71 Added JUnit test for D2
  back-end/src/test/java/soen343/backend/SimulationServicesTest.java
Labels: back-end

#72 Shp set time call authorities
  back-end/src/main/java/soen343/backend/CoreModuleController.java
  back-end/src/main/java/soen343/backend/SecurityController.java
  back-end/src/main/java/soen343/backend/SecurityModuleModel.java
  back-end/src/main/java/soen343/backend/SimulationService.java
  front-end/src/components/Simulation.js
  front-end/src/components/modules/SHP.js
  front-end/src/components/modules/SHS.js
Labels: back-end, front-end
